



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">MovieShop <i class="fas fa-film"></i></span>
    @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>*@

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    GENRES
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Adventure</a>
                    <a class="dropdown-item" href="#">Fantasy</a>
                    <a class="dropdown-item" href="#">Animation</a>
                    <a class="dropdown-item" href="#">Drama</a>
                    <a class="dropdown-item" href="#">Horror</a>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Comedy</a>
                    <a class="dropdown-item" href="#">History</a>
                    <a class="dropdown-item" href="#">Western</a>
                    <a class="dropdown-item" href="#">Thriller</a>
                    <a class="dropdown-item" href="#">Crime</a>
                    <a class="dropdown-item" href="#">Documentary</a>
                    <a class="dropdown-item" href="#">Science Fiction</a>
                    <a class="dropdown-item" href="#">Mystery</a>
                    <a class="dropdown-item" href="#">Music</a>
                    <a class="dropdown-item" href="#">Romance</a>
                    <a class="dropdown-item" href="#">Family</a>
                    <a class="dropdown-item" href="#">War</a>
                    <a class="dropdown-item" href="#">Foreign</a>
                    <a class="dropdown-item" href="#">TV Movie</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active" style="padding-left:5px">
                    <a href="#" class="btn btn-primary" role="button" aria-pressed="true">Login</a>
                </li>
                <li class="nav-item" style="padding-left:5px">
                    <a href="#" class="btn btn-secondary" role="button" aria-pressed="true">Register</a>
                </li>
            </ul>
        </form>
    </div>

</nav>